thead,
th {
  background-color: red;
}
.image {
  background-image: url(https://imgs.search.brave.com/VBdin9S3vgkP9xTdn_rx4RgaWiNjq-KJcnbLzEzURkg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuY3RmYXNzZXRz/Lm5ldC9ocmx0eDEy/cGw4aHEvNTU5Nnoy/QkNSOUttVDFLZVJC/ck9RYS80MDcwZmQ0/ZTJmMWExM2Y3MWMy/YzQ2YWZlYjE4ZTQx/Yy9zaHV0dGVyc3Rv/Y2tfNDUxMDc3MDQz/LWhlcm8xLmpwZz9m/aXQ9ZmlsbCZ3PTYw/MCZoPTQwMA);
  background-repeat: repeat-y;
  background-size: cover;
}
