* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
body {
  width: 100%;
  overflow-x: hidden; /* This prevents accidental side-scrolling */
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  background-color: #e3e6f3;
}
#navbar div img {
  max-width: 100%;
  height: auto;
}

#nav-list {
  display: flex;
  gap: 30px;
}

#nav-list ul {
  display: flex;
  gap: 20px;
}
#nav-list ul li {
  list-style: none;
}
#nav-list ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #1a1a1a;
}

#nav-list ul li a:hover {
  color: #088178;
}
#nav-list ul li a:active {
  color: #088178;
}
/* #nav-list ui li a::after {
  content: "";
  color: #088178;
  text-decoration: underline;
} */

/* Main Css */

.mainWrapper {
  width: 100%;
}

.banner {
  width: 100%;
  background-image: url("./images/hero4.png");
  height: 700px;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#trades {
  color: rgb(248, 248, 248);
  font-size: 40px;
  margin-bottom: 10px;
}
#deals {
  font-size: 70px;
  color: #222;
}
#products {
  color: #088178;
  font-size: 70px;
  width: 100%;
}
#discounts {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
#shop-now {
  background-color: transparent;
  background-image: url(./images/button.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 300px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #088178;
}
.contents {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
  flex-wrap: wrap;
}
.contentWrapper {
  width: 180px;
  border: 1px solid #cce7d0;
  margin: 10px 0px;
  padding: 20px;
  border-radius: 5px;
}

.contentWrapper img {
  width: 100%;
  height: 200px;
}
.freeShipping {
  background-color: #eda0b1;
  padding: 5px;
}

.freeShipping h3 {
  font-size: 12px;
  text-align: center;
}

.productHeading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(5, 150px); */
  /* grid-template-columns: 150px 100px 100px ; */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
  padding: 20px 10px;
}
.productCard {
  width: 100%;
  max-width: 280px;
  border-radius: 25px;
  border: 1px solid #211313;
}
.productCard img {
  width: 100%;
  border-radius: 25px;
}
.productDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
}
.cart {
  display: flex;
  justify-content: space-between;
}

/* Footer Css */

.footer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 50px;
  flex-wrap: wrap;
}
.div1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.value {
  color: rgb(109, 109, 109);
  font-style: italic;
}
.key {
  color: rgb(109, 109, 109);
  font-style: italic;
  font-weight: bold;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.icons p {
  font-size: 20px;
  font-weight: bold;
}
.icons ul {
  display: flex;
  gap: 3px;
}
.icons ul li {
  list-style: none;
}

.div2 h5 {
  font-size: 20px;
  font-weight: bold;
}
.div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.div2 p {
  color: rgb(109, 109, 109);
}
.div2 p:hover {
  color: #088178;
  cursor: pointer;
}

@media (max-width: 425px) {
}
